body {
  color: pink;
  font-family: arial;
  margin: 0px;
}
img {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 130px;
}
a {
  color: red;
}
p {
  color: #09AB
}
